

a {
  &:hover {
    text-decoration: none;
  }
}
ul, ol, p {
  padding: 0;
  margin: 0;
}

h1, h2, h3, h4, h5 {
  margin: 0;
}

* {
  margin: 0;
}

img {
  max-width: 100%;
}
.content-wrapper{
  background: #fff;
}
.navbar{
  @include flex();
  padding: 30px 16px 16px 16px;
  align-items: center;
  z-index: 1000;
  position: fixed;
  top:0;
  width: 100%;
  border-bottom: 1px solid transparent;
  box-shadow: 0 2px 0 0 lighten(#999,30%);
  background-color: #3c8dbc;

  margin-bottom: 0;
  div{
    flex: 1;
    a{
      display: inline-flex;
      @include css3-prefix(user-select,none);
      color: #fff;
    }
    &.title{
      text-align: center;
      h3{
        color: #fff;
        font-size: 14px;
        font-weight: bold;
      }
    }
    &.more-btn{
      text-align: end;
    }
  }
}
.main-sidebar{
  padding:0;
  background: #1a2226;
  .sidebar-user-panel{
    padding: 30px;
    background:#222d32;
    @include flex();
    align-items: center;
    &-avatar{
      margin-right: 16px;
    }
    &-info{
      color: #fff;
      .name{
        font-size: 14px;
        font-weight: bold;
        margin-bottom: 3px;
      }
      .description{
        font-size: 10px;
      }
    }
  }
  .sidebar-menu{
    padding: 30px;
    ul{
      list-style-type: none;
      li{
        margin-bottom: 25px;
        cursor: pointer;
        a{
          @include css3-prefix(user-select,none);
          @include flex();
          align-items: center;
          color: #8aa4af;
          text-decoration: none;
          img{
            margin-right: 25px;
          }
          p{
            font-size: 12px;
            font-weight: bold;
          }
          &:hover{
            color: white;
          }
          &.active{
            color: white;
          }
        }

      }
    }
  }
}
